.navbar {
    display: flex;
    gap: 20px;
    background-color: black;
    height: 70px;
    align-items: center;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

footer {
    padding: 50px;
    text-align: center;
    background-color: rgb(199, 199, 199);
}

.home {
    min-height: 100vh;
}