.navbar {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;
    background-color: gray;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar .links {
    display: flex;
    gap: 20px;
}