.heading {
    width: fit-content;
    margin: 20px auto;

    border-bottom: 2px solid black;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.wrapper .product {
    box-shadow: 0 3px 10px rgb(237, 237, 237);
    padding: 15px;
}

.wrapper .product h2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limits to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper img {
    width: 100%;
}

.wrapper .product button {
    background-color: black;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}