* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading {
    text-align: center;
    margin: 50px 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 0 50px;
}

.wrapper img {
    width: 100%;
    height: 350px;
}

.wrapper .product {
    padding: 15px;
    box-shadow: 0 3px 10px rgb(219, 214, 214);

}

.product h2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.wrapper button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.wrapper h3 {
    margin: 10px 0;
}


/* navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 0 50px;


}


/* cart  */
.cart {
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -40%;
    background-color: aliceblue;
}

.cart.active {
    left: 0;
}

.cart .cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    border-bottom: 1px solid gray;
}

.cart .cartBody {

    height: 94vh;
    overflow: auto;
}

.cart .cartBody .product {
    display: grid;
    align-items: center;
    background-color: white;
    margin: 10px;
    grid-template-columns: 100px 40% auto auto;
}

.cart .cartBody img {
    width: 100%;
    height: 100px;
}


/* search  */
.searchElem {
    height: calc(100vh - 80px);
    background-color: antiquewhite;
    top: 80px;
    left: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    display: none;
}

.searchElem .searchWrapper {
    overflow: auto;
    height: calc(100vh - 90px);
}