.navbar {
  display: flex;
  gap: 20px;
  height: 60px;
  background-color: tomato;
  align-items: center;
  color: white;
  padding: 0 100px;
  font-size: 20px;
}

.navbar .active {
  color: white;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.home {
  height: 100vh;
}