* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    background-color: black;
    color: white;
    height: 80px;
    align-items: center;
}

.navbar .links {
    display: flex;
    gap: 20px;
}

.products .productHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    align-items: center;
    height: 80px;
}

.products {
    padding: 0 100px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0;

}

.wrapper .product {
    width: calc(25% - 20px);
    padding: 15px;
    box-shadow: 0 3px 10px rgb(209, 209, 209);
}

.wrapper img {
    width: 100%;
    cursor: pointer;
}

.wrapper .product h2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cartElem {
    height: 100vh;
    width: 40%;
    background-color: rgb(238, 238, 238);
    position: fixed;
    top: 0;
    left: -100%;
}

.cartElem .cartHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgb(151, 151, 151);
}

.cartElem.active {
    left: 0;
}

.cartElem img {
    width: 100%;
}

.cartElem .cartWrapper {
    padding: 15px;

}

.cartElem .cartWrapper .product {
    display: grid;
    grid-template-columns: 100px 40% auto auto;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid gray;
    padding: 15px;

}

.cartElem .cartWrapper .product h2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.searchComp {
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 80px;
    display: none;
    background-color: rgb(235, 235, 235);
}

.singleProduct {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.255);
    position: fixed;
    display: flex;
    justify-content: center;
    display: none;
    align-items: center;
    top: 0;
    left: 0;
}

.sProduct {
    display: flex;
    height: 80vh;
    gap: 50px;
    width: 70%;
    background-color: white;

}

.sProduct .col1,
.sProduct .col2 {
    width: 50%;
    padding: 30px;

}

.singleProduct img {
    width: 100%;
}

.sProduct .col1 .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.sProduct .col1 .images img {
    border: 1px solid gray;
    padding: 20px;
}